/*GLOBAL STYLES
***********************************************************************/
/*This targets all sections to get rid of this awful box-shadow that cuts through my page elements.*/
* {
	box-shadow: none !important;
}
/*This makes an exception of the navbar to the rule above*/ /*TODO address this*/
nav {
	box-shadow: black !important;
}

a:hover{
	color: limegreen !important;
}
/*NAVIGATION BAR
***********************************************************************/
/*.nav-link,*/
.btn-primary,
.navbar-brand
{
	color: white !important;
}
/*.nav-link:hover,*/
.btn-primary:hover,
.navbar-brand:hover
{
	color: #41fa53 !important;
}

/*Compatible button outline for firefox*/
.btn-primary {
	border: 1px solid black !important;
}

/*Navbar transparency*/
.transparent-navigation {
	opacity: 0.9;
}

/*Jumbotron Styles
***********************************************************************/
/*style to linkedin and github icons*/
.link-git-icons {
	color: black !important;
}

/*Empty div tags to provide visually needed spacing*/
.empty {
	visibility: hidden;
}

/*Style to background cover for jumbotron*/
.first-cover-background {
	background: url(../images/lake-tahoe.jpg) no-repeat center center /cover;
	display: flex;
	image-resolution: 72dpi;
}

.jumbotron {
	background: none;
}
.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation:
		typing 3.5s steps(40, end),
		blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
}

/*Tag-Line Styles
***********************************************************************/


/*Skills Styles
***********************************************************************/
/*Style the images in skills*/
.skills-img {
	width: 15rem;
	height: 15rem;
	image-resolution: 72dpi;
	border: 1px solid black;
}

/*Style programming language icons*/
.language-icon {
	width: 7rem;
	height: 7rem;
	image-resolution: 72dpi;
}

/*Portfolio Styles
***********************************************************************/
/*Project section of portfolio*/

.portfolio-bg {
	background-color: #00264d;
}

/*Size the portfolio's website pictures*/
.web-project {
	width: 300px;
	height: 15rem;
	image-resolution: 72dpi;
	object-fit: cover;
}

/*Mobile friendly the portfolio's website pictures*/
@media screen and (min-width:531px) {
	.web-project {
		width: 30rem;
		height: 15rem;
		image-resolution: 72dpi;
		object-fit: cover;
	}
}

/*Job section of portfolio*/
.carousel-control {
	width: 40%;
}

.carousel-img {
	width: 5rem;
	height: 3rem;
}
.carousel-job-title-text {
	font-size: 3rem;
}

.carousel-background {
	background: linear-gradient(rgba(0, 119, 191, 0.75),rgba(0, 119, 191, 0.5)), url(../images/canyon.jpg) no-repeat center center /cover;
	height: 40rem;
	display: flex;
	image-resolution: 72dpi;
}

/*Contact Form Styles
***********************************************************************/


/*Footer Styles
***********************************************************************/
