/*GLOBAL STYLES
***********************************************************************/
/*This targets all sectionS*/
* {
	box-shadow: none !important;
}
/*This makes an exception of the navbar to the rule above*/ /*TODO address this*/
nav {
	box-shadow: black !important;
}
/*NAVIGATION BAR
***********************************************************************/
.logo-image {
	width: 11rem;
	height: 4rem;
}

.nav-link,
.navbar-brand
{
	color: aqua !important;
}
.nav-link:hover,
.navbar-brand:hover
{
	color: #41fa53 !important;
}

.transparent-navigation {
	opacity: 0.9;
}

/*Jumbotron Styles
***********************************************************************/
a {
	color: black;
}

.empty {
	visibility: hidden;
}

/*.fab {*/
/*font-size: 10rem;*/
/*margin-right: 3rem;*/
/*}*/

.first-cover-background {
	background: url(../images/lake-tahoe.jpg) no-repeat center center /cover;
	display: flex;
}

.jumbotron {
	background: none;
}

/*Tag-Line Styles
***********************************************************************/


/*Skills Styles
***********************************************************************/

/*Portfolio Styles
***********************************************************************/
.carousel-control-prev, .carousel-control-prev-icon {
	right: 3rem;  //or you can increase this
}

.carousel-control-prev, .carousel-control-next-icon {
	left: 0; //or you can increase this
}

.carousel-job-title-text {
	font-size: 3rem;
}

.first-carousel-background {
	background: url(../images/pond.jpg) no-repeat center center /cover;
	height: 40rem;
	display: flex;
}

.second-carousel-background {
	background: url(../images/canyon.jpg) no-repeat center center /cover;
	height: 40rem;
	display: flex;
}

.third-carousel-background {
	background: url(../images/dock.jpg) no-repeat center center /cover;
	height: 40rem;
	display: flex;
}
/*Contact Form Styles
***********************************************************************/

/*Footer Styles
***********************************************************************/