@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
	font-family: 'Raleway', sans-serif;
	height: 100vh;
	background: #333 url('../images/lake-tahoe.jpg') no-repeat center center / cover;
	color: #333;
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: center;
	height: 100%;
	padding: 0 3rem;
}

h1 , h2 {
	font-weight: 200;
	margin: 0.4rem;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 2rem;
	color: darkgreen;
}

/* Cursor */
.txt-type > .txt {
	border-right: 0.2rem solid #777;
}
/*anything over 1200px will make the h1 text larger*/
@media(min-width: 1200px) {
	h1 {
		font-size: 5rem;
	}
}

/*anything between 800px and the 1200px set above will have this font-size*/
@media(min-width: 1200px) {
	.container {
		padding: 0 1rem;
	}
	h1 {
		font-size: 3rem;
	}
}

@media(max-width: 500px) {
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 1.5rem;
	}
}