body{
	background: #70e1f5; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#container{
	color: white;
	width: 200px;
	margin: 8.5%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-align:center;
}
.container{
	background:transparent;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width: 250px;
	height: 60px;
	margin: 20% auto;
	border: 1px solid #e3e3e3;
	background-color: rgba(204,204,204,0.3);
	text-shadow: 1px 1px 1px grey;
&:hover{
	 background-color: rgba(0,0,0,0.5);
	 transition: 0.4s;
 }
}