/*NAVIGATION BAR
***********************************************************************/
.transparent-navigation {
	opacity: 0.5;
}

/*Cover Styles
***********************************************************************/
.nav-link,
.navbar-brand
{
	color: aqua !important;
}
.nav-link:hover,
.navbar-brand:hover
{
	color: #41fa53 !important;
}


.empty {
	visibility: hidden;
}

.first-cover-background {
	background: url(lake-tahoe.jpg) no-repeat center center /cover;
	display: flex;

}

.jumbotron {
	background: none;
}