/*NAVIGATION BAR
***********************************************************************/
.nav-link,
.navbar-brand
{
	color: aqua !important;
}
.nav-link:hover,
.navbar-brand:hover
{
	color: #41fa53 !important;
}

.transparent-navigation {
	opacity: 0.75;
}

/*Cover Styles
***********************************************************************/
.empty {
	visibility: hidden;
}

/*.fab {*/
	/*font-size: 10rem;*/
	/*margin-right: 3rem;*/
/*}*/

.first-cover-background {
	background: url(lake-tahoe.jpg) no-repeat center center /cover;
	display: flex;
}

.jumbotron {
	background: none;
}